:root {
    --darker-color: #162C2D;
    --darker-grey-color: rgba(0,0,0,.2);
    --dark-grey-color: #6B8790;
    --light-grey-color: #F5F6F7;
    --blue-cian-color: #356C6E;
    --dark-color: #000000;
    --white-color: #fff;
    --bloody-color: #C2051B;
    --shadow-color: #d1d1d1;
    --darker-orange-color: #D75B31;
    --light-yellow-color: #EBED68;
    --smoth-green-color: #6A9080;
    --shadows-config: 0 0 2px 2px var(--shadow-color);
    --buttons-gradient-config: linear-gradient(130deg, var(--blue-cian-color) 5%, var(--smoth-green-color) 20%, var(--light-yellow-color) 170%);
}

/*================animetions================*/

@keyframes onColorSet {
    from {
        opacity: 0;
        background-color: var(--smoth-green-color);
    }
}

@keyframes onColorRemove {
    to {
        opacity: 1;
        background-color: initial;
    }
}

@keyframes onModalClose {
    from {
        transform: translateY(initial);
        opacity: 1;
    }
    20% {
        transform: translateY(-5vh);
    }
    100%{
        transform: translateY(40vh);
        opacity: 0;
    }
}

@keyframes onModalOpen {
    from {
        transform: translateY(40vh);
        opacity: 0;
    }
    80% {
        transform: translateY(-5vh);
    } 
    100%{
        transform: translateY(initial);
        opacity: 1;
    }
}

@keyframes onOpenOptions {
    from {
        opacity: 0;
        transform: translateX(-5em);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes hoverOnButtons {
    0% {
        transform: translateX(1.5vw);
    }
    25% {
        transform: translateX(.8vw);
    }
    50% {
        transform: translateX(1.5vw);
    }
    75% {
        transform: translateX(.8vw);
    }
    100% {
        transform: translateX(1.5vw);
    }

}

.--options-open {
    animation: onOpenOptions 200ms ease-out forwards;
}

.--modal-open {
    animation: onModalOpen 500ms ease forwards;
}

.--modal-close {
    animation: onModalClose 500ms ease forwards;
}

.--dark-mode {
    background-color: #162C2D;
    animation: onColorSet 500ms ease forwards;
    opacity: 1;
}

.--dark-modeEnd {
    animation: onColorRemove 500ms ease forwards;
    opacity: 1;
}


/*================animetionend================*/

.main-container {
    position: relative;
    margin-bottom: 10vh;
    z-index: 0;
}

.welcome {
    width: 100%;
    font-weight: 500;
    text-transform: uppercase;
    font-size: .9rem;
    text-align: center;
    color: var(--white-color);
    line-height: 2rem;
    background-color: var(--smoth-green-color);
    z-index: 9;
    position: fixed;
    top: 9vh;
    user-select: none;
}

.toolbar {
    display: flex;
    justify-content: space-around;
    background-color: #d0d0d0;
    padding: 5px; 
    margin: 0 2vw;
    border-radius: 5px;
    margin-top: 5vh;
}


.description{
    font-weight: 500;
    color: var(--white-color);
    margin-top: .2rem;
}

.btn-dark--mode, .btn-new--contact, .btn--display-options {
    padding: 8px;
    border-style: none;
    border-radius: 5px;
    background: var(--buttons-gradient-config);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
    outline: none;
    display: flex;
    justify-content: space-evenly;
    gap: .5em;
}

.btn--display-options {
    box-shadow: none;
    background: none;
    padding: 5px 10px;
    margin: 0 auto;
    position: relative;
}

.btn--display-options:hover {
    background: rgba(255, 255, 255, .2);
    transition: all 400ms ease;
}

.btn-dark--mode:hover,
.btn-new--contact:hover {
    background: var(--dark-grey-color);
    transition: all 900ms ease;
}

.moon-svg, .plus-svg {
    width: 20px;
}

.more-svg {
    width: 5px;
}
.chvronr-svg{
    width: 8px;
    position: absolute;
    top: 12px;
    right: 2vw;
    animation: hoverOnButtons ease 3200ms infinite;
}

.app-body {
    background-color: #d0d0d0;
    margin: 0 2vw;
    padding: .5em 0;
    margin-top: 2vh;
    border-radius: 5px;
}

.contacts-header, .contacts-data {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    width: 94vw;
    margin: 0 auto;
    padding: 2px;
    border-radius: 5px;
    background: var(--smoth-green-color);
}

.contacts-data {
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    gap: 0;
    padding: 0 .2em;
    margin-top: .5vh;
}

.contacts-header--info, .contact-item {
    margin: 1vh 0;
    padding: 15px 5%;
    background: var(--darker-color);
    border-radius: 5px;
    color: var(--white-color);
    font-weight: 500;
    font-size: 1.1rem;
    user-select: none;
}

.contact-item {
    padding: .5em;
    line-height: 1.8rem;
    width: 25%;
    text-align: center;
    border-radius: 0;
    font-weight: 400;
    line-break: loose;
}

.contact-more {
    border-radius: 0 5px 5px 0;
}

.contact-name {
    border-radius: 5px 0 0 5px;
}

.--dark-background {
    background-color: var(--darker-grey-color);
}

.options-modal--container {
    width: 20vw;
    position: absolute;
    top: -1.6vh;
    right: -5vw;
    z-index: 5000;
    background: none;
}

.options-modal {
    width: 12vw;
    box-shadow: 0 0 0 rgba(0,0,0,.2);
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.btn-details, .btn-delete {
    width: 100%;
    padding: 0 5px;
    position: relative;
    border-style: none;
    line-height: 2rem;
    text-align: left;
    background-color: var(--dark-grey-color);
    color: var(--white-color);
}

.btn-details:hover, .btn-delete:hover {
    background-color: var(--dark-color);
}

.btn-details:active, .btn-delete:active {
    outline: none;
}

.btn-delete {
    border-radius: 0 0 5px 5px;
}

.btn-details {
    border-radius: 5px 5px 0 0;
}

