:root {
    --darker-grey-color: rgba(0,0,0,.2);
    --blue-cian-color: #483434;
    --dark-color: #000000;
    --shadow-color: #d1d1d1;
    --smoth-green-color: #DBD0C0;
    --shadows-config: 0 0 2px 2px var(--shadow-color);
}

/*================animetions================*/

@keyframes onColorSet {
    from {
        opacity: 1;
        background-color: var(--smoth-green-color);
    }
}

@keyframes onColorRemove {
    to {
        opacity: 1;
        background-color: var(--smoth-green-color);
    }
}

@keyframes onModalClose {
    from {
        transform: translateY(initial);
        opacity: 1;
    }
    20% {
        transform: translateY(-5vh);
    }
    100%{
        transform: translateY(40vh);
        opacity: 0;
    }
}

@keyframes onModalOpen {
    from {
        transform: translateY(40vh);
        opacity: 0;
    }
    80% {
        transform: translateY(-5vh);
    } 
    100%{
        transform: translateY(initial);
        opacity: 1;
    }
}

@keyframes onOpenOptions {
    from {
        opacity: 0;
        transform: translateX(-5em);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.--options-open {
    animation: onOpenOptions 200ms ease-out forwards;
}

.--modal-open {
    animation: onModalOpen 500ms ease forwards;
}

.--modal-close {
    animation: onModalClose 500ms ease forwards;
}

.--dark-mode {
    background-color: #362222;
    animation: onColorSet 500ms ease forwards;
    opacity: 1;
}

.--dark-modeEnd {
    animation: onColorRemove 500ms ease forwards;
    opacity: 1;
}


/*================animetionend================*/

.main-container {
    position: relative;
    margin-bottom: 10vh;
    z-index: 0;
}

.welcome {
    width: 100%;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 600;
    text-align: center;
    color: var(--blue-cian-color);
    line-height: 2rem;
    z-index: 9;
    position: fixed;
    top: 12vh;
    user-select: none;
}
.--welcome-dark_mode {
    color: var(--white-color);
    opacity: .7;
}

.toolbar {
    display: flex;
    justify-content: space-around;
    max-width: 700px;
    background-color: #fff;
    opacity: .6;
    padding: 5px; 
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 5vh;
}

.description{
    font-weight: 600;
    color: var(--white-color);
    margin-top: .4rem;
}

.btn-dark--mode, .btn-new--contact, .btn--display-options {
    padding: 8px;
    border-style: none;
    border-radius: 5px;
    background: var(--blue-cian-color);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
    outline: none;
    display: flex;
    font-weight: 500;
    justify-content: space-evenly;
    gap: .5em;
    border-bottom: 3px solid transparent;
}

.btn--display-options {
    box-shadow: none;
    background: none;
    padding: 1px 10px;
    margin: 0 auto;
    position: relative;
}

.btn--display-options:hover {
    background: rgba(255, 255, 255, .5);
    transition: 200ms ease;
}

.btn-dark--mode:hover,
.btn-new--contact:hover {
    background: #000;
    transition: all 300ms ease;
    border-bottom: 3px solid var(--white-color);
}

.moon-svg, .plus-svg {
    margin-top: .2em;
    width: 20px;
}
.more-svg {
    width: 25px;
}
.chvronr-svg{
    width: 8px;
    position: absolute;
    top: 12px;
    right: 2vw;
    animation: hoverOnButtons ease 3200ms infinite;
}

.app-body {
    background-color: #FFF3E4;
    max-width: 700px;
    margin: 0 auto;
    padding: .5em ;
    margin-top: 2vh;
    border-radius: 5px;
}

.contacts-header, .contacts-data {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row nowrap;  
    margin: 0 auto; 
    border-radius: 5px;
    background: #6B4F4F;
}

.contacts-data {
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    gap: 0;
    padding: 0 .2em;
    margin-top: .5vh;
}

.contacts-header--info, .contact-item {
    margin: 1vh 0;
    padding: 15px 5%;
    background: #EED6C4;
    border-radius: 5px;
    color: #483434;
    font-weight: 500;
    font-size: 1.1rem;
    user-select: none;
}

.contacts-header--info {
    border-bottom: 2px solid #fff;
}

.contact-item {
    padding: .5em;
    line-height: 1.8rem;
    width: 25%;
    text-align: center;
    border-radius: 0;
    font-weight: 400;
    line-break: loose;
    accent-color: white;
}

.contact-more {
    border-radius: 0 5px 5px 0;
}

.contact-name {
    border-radius: 5px 0 0 5px;
}

.--dark-background {
    background-color: var(--darker-grey-color);
}

.options-modal--container {
    width: 20vw;
    position: absolute;
    top: -1.6vh;
    right: -5vw;
    z-index: 5000;
    background: none;
}

.options-modal {
    width: 12vw;
    box-shadow: 0 0 0 rgba(0,0,0,.2);
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}